In [1]:
a = (10)

In [2]:
type(a)

int

In [3]:
a

10

In [11]:
a = 10, 20, 30, 'cat'

In [12]:
a

(10, 20, 30, 'cat')

In [17]:
class Employee:
        
    emp_name = 'Alex'
    emp_age = 25
    emp_salary = 3002.56

In [18]:
e1 = Employee()
print(e1.emp_name)

Alex

In [24]:
class Employee:
    department = 'Marketing'

    def __init__(self, emp_name, emp_age, emp_salary):
        self.emp_name = emp_name
        self.emp_age = emp_age
        self.emp_salary = emp_salary

    def __str__(self):
        return f'{self.department}: {self.emp_name}, {self.emp_age}, {self.emp_salary}'

In [25]:
e1 = Employee('Alex', 25, 30000)

In [26]:
print(e1)

Marketing: Alex, 25, 30000

In [27]:
class Vegetables:
    category = 'Vegetable'

    def __init__(self, name, colour):
        self.name = name
        self.colour = colour

    def __str__(self):
        return f'{self.category}: {self.name}, {self.colour}'

In [28]:
v1 = Vegetables('carrot', 'orange')
v2 = Vegetables('broccoli', 'green')

In [29]:
v1

In [30]:
print(v1)

Vegetable: carrot, orange

In [31]:
print(v2)

Vegetable: broccoli, green